body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: steelblue;
}

.task-list {
  list-style: none;
  min-height: 40vh;
}


